{% extends 'base.html' %}



<script>
{% block jquery %}


function getRandomColor() {
  var letters = '0123456789ABCDEF';
  var color = '#';
  for (var i = 0; i < 6; i++) {
    color += letters[Math.floor(Math.random() * 16)];
  }
  return color;
}



var endpoint = '/api/chart/data/'
var defaultData = []
var labels = [];
$.ajax({
    method: "GET",
    url: endpoint,
    success: function(data){
        labels = data.labels
        defaultData = data.default
        setChart()
    },
    error: function(error_data){
        console.log("error")
        console.log(error_data)
    }
})
var priestColor = 'rgba(255, 255, 255, 1)';
var hunterColor = 'rgba(170, 211, 114, 1)';
var rogueColor = 'rgba(255, 244, 104, 1)';
var warlockColor = 'rgba(135, 136, 238, 1)';
var deathknightColor = 'rgba(196, 30, 58, 1)';
var mageColor = 'rgba(63, 199, 235, 1)';
var shamanColor = 'rgba(0, 112, 221, 1)';
var demonhunterColor = 'rgba(163, 48, 201, 1)';
var druidColor = 'rgba(255, 124, 10, 1)';
var monkColor = 'rgba(0, 255, 152, 1)';
var paladinColor = 'rgba(244, 140, 186, 1)';
var warriorColor = 'rgba(198, 155, 109, 1)';



function setChart(){
    var ctx = document.getElementById("myChart");
    var ctx2 = document.getElementById("myChart2");
    var myChart2 = new Chart(ctx2, {
    type: 'bar',
    data: {
        labels: labels,
        datasets: [{
            data: defaultData,
            backgroundColor: [
                priestColor,
                hunterColor,
                rogueColor,
                warlockColor,
                deathknightColor,
                mageColor,
                shamanColor,
                demonhunterColor,
                druidColor,
                monkColor,
                paladinColor,
                warriorColor,
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
            ],

            borderWidth: 1
        }]
    },
    options: {
        legend: {
            display: false,
            position: 'bottom',
    },


                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero:true
                            }
                        }]
                    }
    }
});

    var myChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
        labels: labels,
        datasets: [{
            label: '# of Votes',
            data: defaultData,
            backgroundColor: [
            priestColor,
                hunterColor,
                rogueColor,
                warlockColor,
                deathknightColor,
                mageColor,
                shamanColor,
                demonhunterColor,
                druidColor,
                monkColor,
                paladinColor,
                warriorColor,
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
            ],
            borderColor: [
            priestColor,
                hunterColor,
                rogueColor,
                warlockColor,
                deathknightColor,
                mageColor,
                shamanColor,
                demonhunterColor,
                druidColor,
                monkColor,
                paladinColor,
                warriorColor,
            ],
            borderWidth: 1
        }]
    },
    options: {
        legend: {
            display: false
        },
    }
});

function updateChart(chartName) {
    chartName.data.datasets[0].data = [14, 1, 4, 36, 12, 20, 18, 4, 3, 8, 12, 24];
    chartName.update();
};


$(myChart).ready(function() {
    $("#updatebtn2").click(function() {
        updateChart(myChart2);
    });
});

$(myChart).ready(function() {
    $("#updatebtn").click(function() {
        updateChart(myChart);
    });
});


};

// var ctx = document.getElementById("myChart");



{% endblock %}
</script>

{% block content %}

<div class='row'>
    <div class='col-sm-12' url-endpoint='{% url "api-data" %}'>
        <h1>Warcraft Trends <button class ="btn btn-success"  id="updatebtn" value="Click">Update</button><button class ="btn btn-success"  id="updatebtn2" value="Click">Update2</button></h1>
        <div class='col-sm-6'>
            <canvas id="myChart" width="400" height="400"></canvas>
        </div>
        <div class='col-sm-6'>
            <canvas id="myChart2" width="400" height="400"></canvas>
        </div>


    </div>
</div>

{% endblock content %}
