{% extends 'base.html' %}

<script>
{% block jquery %}
var endpoint = '/api/chart/data/'
var defaultData = []
var labels = [];
$.ajax({
    method: "GET",
    url: endpoint,
    success: function(data){
        labels = data.labels
        defaultData = data.default
        setChart()
    },
    error: function(error_data){
        console.log("error")
        console.log(error_data)
    }
})

function setChart(){
    var ctx = document.getElementById("myChart");
    var ctx2 = document.getElementById("myChart2");
    var myChart = new Chart(ctx2, {
    type: 'bar',
    data: {
        labels: labels,
        datasets: [{
            label: 'Total Bugs',
            data: defaultData,
            backgroundColor: [
                'rgba(255, 181, 79, 1)',
                'rgba(255, 255, 255, 1)',
                'rgba(170, 211, 114, 1)',
                'rgba(255, 244, 104, 1)',
                'rgba(135, 136, 238, 1)',
                'rgba(196, 30, 58, 1)',
                'rgba(63, 199, 235, 1)',
                'rgba(0, 112, 221, 1)'
            ],
            borderColor: [
                'rgba(255, 181, 79, 1)',
                'rgba(255, 255, 255, 1)',
                'rgba(170, 211, 114, 1)',
                'rgba(255, 244, 104, 1)',
                'rgba(135, 136, 238, 1)',
                'rgba(196, 30, 58, 1)',
                'rgba(63, 199, 235, 1)',
                'rgba(0, 112, 221, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        legend: {
            display: true,
            position: 'bottom',
    },


                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero:true
                            }
                        }]
                    }
    }
});

    var myChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
        labels: labels,
        datasets: [{
            label: '# of Votes',
            data: defaultData,
            backgroundColor: [
                'rgba(255, 181, 79, 1)',
                'rgba(255, 255, 255, 1)',
                'rgba(170, 211, 114, 1)',
                'rgba(255, 244, 104, 1)',
                'rgba(135, 136, 238, 1)',
                'rgba(196, 30, 58, 1)',
                'rgba(63, 199, 235, 1)',
                'rgba(0, 112, 221, 1)'
            ],
            borderColor: [
                'rgba(255, 181, 79, 1)',
                'rgba(255, 255, 255, 1)',
                'rgba(170, 211, 114, 1)',
                'rgba(255, 244, 104, 1)',
                'rgba(135, 136, 238, 1)',
                'rgba(196, 30, 58, 1)',
                'rgba(63, 199, 235, 1)',
                'rgba(0, 112, 221, 1)'
            ],
            borderWidth: 1
        }]
    },
});

}
// var ctx = document.getElementById("myChart");



{% endblock %}
</script>

{% block content %}

<div class='row'>
    <div class='col-sm-12' url-endpoint='{% url "api-data" %}'>
        <h1>Total Bug Reports Before Shadowlands Launch</h1>
        <div class='col-sm-6'>
            <canvas id="myChart" width="400" height="400"></canvas>
        </div>
        <div class='col-sm-6'>
            <canvas id="myChart2" width="400" height="400"></canvas>
        </div>


    </div>
</div>

{% endblock content %}
