{% extends 'base.html' %}



<script>
{% block jquery %}


function getRandomColor() {
  var letters = '0123456789ABCDEF';
  var color = '#';
  for (var i = 0; i < 6; i++) {
    color += letters[Math.floor(Math.random() * 16)];
  }
  return color;
}



var endpoint = '/api/chart/data/'
var defaultData = []
var labels = [];
$.ajax({
    method: "GET",
    url: endpoint,
    success: function(data){
        labels = data.labels
        defaultData = data.default
        setChart()
    },
    error: function(error_data){
        console.log("error")
        console.log(error_data)
    }
})
var priestColor = 'rgba(255, 255, 255, 1)';
var hunterColor = 'rgba(170, 211, 114, 1)';
var rogueColor = 'rgba(255, 244, 104, 1)';
var warlockColor = 'rgba(135, 136, 238, 1)';
var deathknightColor = 'rgba(196, 30, 58, 1)';
var mageColor = 'rgba(63, 199, 235, 1)';
var shamanColor = 'rgba(0, 112, 221, 1)';
var demonhunterColor = 'rgba(163, 48, 201, 1)';
var druidColor = 'rgba(255, 124, 10, 1)';
var monkColor = 'rgba(0, 255, 152, 1)';
var paladinColor = 'rgba(244, 140, 186, 1)';
var warriorColor = 'rgba(198, 155, 109, 1)';
var updateBtnCount = 0
var updateBtn2Count = 0


function setChart(){
    var ctx = document.getElementById("myChart");
    var ctx2 = document.getElementById("myChart2");
    var myChart2 = new Chart(ctx2, {
    type: 'bar',
    data: {
        labels: labels,
        datasets: [{
            data: defaultData,
            backgroundColor: [
                priestColor,
                hunterColor,
                rogueColor,
                warlockColor,
                deathknightColor,
                mageColor,
                shamanColor,
                demonhunterColor,
                druidColor,
                monkColor,
                paladinColor,
                warriorColor,
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
            ],

            borderWidth: 1
        }]
    },
    options: {
        legend: {
            display: false,
            position: 'bottom',
    },


                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero:true
                            }
                        }]
                    }
    }
});

    var myChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
        labels: labels,
        datasets: [{
            label: '# of Votes',
            data: defaultData,
            backgroundColor: [
            priestColor,
                hunterColor,
                rogueColor,
                warlockColor,
                deathknightColor,
                mageColor,
                shamanColor,
                demonhunterColor,
                druidColor,
                monkColor,
                paladinColor,
                warriorColor,
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
                getRandomColor(),
            ],
            borderColor: [
            priestColor,
                hunterColor,
                rogueColor,
                warlockColor,
                deathknightColor,
                mageColor,
                shamanColor,
                demonhunterColor,
                druidColor,
                monkColor,
                paladinColor,
                warriorColor,
            ],
            borderWidth: 1
        }]
    },
    options: {
        legend: {
            display: false
        },
    }
});

function updateChart(chartName, count) {
    if (count %2 == 0){
        chartName.data.datasets[0].data = [14, 1, 4, 36, 12, 20, 18, 4, 3, 8, 12, 24];
    }
    else{
        chartName.data.datasets[0].data = defaultData
    } 
    chartName.update();
};

//JQuery stuff

$(myChart).ready(function() {
    $("#updatebtn").click(function() {
        updateChart(myChart, updateBtnCount);
        updateBtnCount += 1;
        var change = document.getElementById("updatebtn");
        if (change.innerHTML == "Change First Graph to Bogus Data")
                {
                    change.innerHTML = "Change First Graph Back to JSON";
                }
                else {
                    change.innerHTML = "Change First Graph to Bogus Data";
                }
    });
});

$(myChart2).ready(function() {
    $("#updatebtn2").click(function() {
        updateChart(myChart2, updateBtn2Count);
        updateBtn2Count += 1;
        var change = document.getElementById("updatebtn2");
        if (change.innerHTML == "Change Second Graph to Bogus Data")
                {
                    change.innerHTML = "Change Second Graph Back to JSON";
                }
                else {
                    change.innerHTML = "Change Second Graph to Bogus Data";
                }
    });
});

$(myChart).ready(function() {
    $("#cars").change(function() {
        var valueofcar = $("#cars").find(":selected").text();
        var change = document.getElementById("updatebtn2");
        var change1 = document.getElementById("updatebtn");

        if (valueofcar == "Bogus" ){
            updateChart(myChart2, 0);
            updateChart(myChart, 0);
            change.innerHTML = "Change Second Graph Back to JSON";
            change1.innerHTML = "Change First Graph Back to JSON";


        }
        if (valueofcar == "JSON" ){

            updateChart(myChart2, 1);
            updateChart(myChart, 1);
            change.innerHTML = "Change Second Graph Back to Bogus Data";
            change1.innerHTML = "Change First Graph Back to Bogus Data";
        }

    });
        
});


};

{% endblock %}
</script>

{% block content %}

<div class='row'>
    <div class='col-sm-12' url-endpoint='{% url "api-data" %}'>
        <h1>Warcraft Trends</h1>
        <h2><label for="cars">Select a Dataset:</label>

            <select name="cars" id="cars">
            <option value="">Select an option</option>
              <option value = "json">JSON</option>
              <option value="bogus">Bogus</option>
            </select></h2>
        <div class='col-sm-6'>
            <canvas id="myChart" width="400" height="400"></canvas>
            <button class ="btn btn-success"  id="updatebtn" value="Click">Change First Graph to Bogus Data</button>
        </div>
        <div class='col-sm-6'>
            <canvas id="myChart2" width="400" height="400"></canvas>
            <button class ="btn btn-success"  id="updatebtn2" value="Click">Change Second Graph to Bogus Data</button>
        </div>


    </div>
</div>

{% endblock content %}
